/* ------------------------------- */
/*            CSS RESET            */
/* ------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Changes a default 16px font size to 10px */
html {
  font-size: 62.5%;
}

.container {
  display: grid;
  font-family: "Lato", sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-top"
    "header-bottom"
    "carousel"
    "shop-by-category"
    "product-tiles-v1"
    "customer-service"
    "product-tiles-v2"
    "why-us"
    "footer"
    "back-to-top"
    "responsive-menu";
}

.header-top {
  grid-area: header-top;
  background-color: #1d1d1d;
  width: 100%;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2.2rem 0;
}

ul {
  display: flex;
}

ul > li a {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #fff;
}

/* Target all a tags except for the last one */
ul li:not(:last-child) a {
  margin-right: 3.5rem;
}

/* Target all svg elements except for the first one */
.header-top-container > div:not(:first-child) i {
  padding-left: 3rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}

.header-bottom {
  grid-area: header-bottom;
  border-radius: 6rem 6rem 0px 0px;
  box-shadow: 0px -5rem 0px 1.5rem rgba(29, 29, 29, 1);
}

.header-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.header-bottom-container > ul > li a {
  color: #1d1d1d;
}

form {
  padding: 0;
  background: #e9e9e9;
  border-radius: 3rem;
  width: 26vw;
}

form i {
  background: none;

  color: #838383;
  padding: 1.4rem 0.5rem 1.4rem 2.2rem;
  width: 18px;
  cursor: pointer;
}

form input {
  background: #e9e9e9;
  width: 22vw;
  border-radius: 3rem;
  border: none;
}

form input:focus {
  outline: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom left;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobile-nav-toggle {
  display: none;
}

.carousel {
  grid-area: carousel;
}

.shop-by-category {
  grid-area: shop-by-category;
}

.product-tiles-v1 {
  grid-area: product-tiles-v1;
}

.customer-service {
  grid-area: customer-service;
}

.product-tiles-v2 {
  grid-area: product-tiles-v2;
}

.why-us {
  grid-area: why-us;
}

.footer {
  grid-area: footer;
}

.back-to-top {
  grid-area: back-to-top;
}

.responsive-menu {
  display: none;
  grid-area: responsive-menu;
  outline: 1px solid purple;
}

/* ------------------------------- */
/*          TABLET VIEW            */
/* ------------------------------- */
@media (max-width: 1178px) {
  body {
    /* background-color: lightblue; */
  }

  .header-top {
    display: none;
  }

  .header-bottom {
    border-radius: 0;
  }

  .header-bottom-container {
    justify-content: center;
  }

  .header-bottom-container > div > svg {
    margin-top: 1.6rem;
  }

  .header-bottom-container > ul {
    display: none;
  }

  form {
    display: none;
  }

  .responsive-navigation-slider {
    position: fixed;
    /* height: 100vh; */
    z-index: 1000;
    inset: 0 0 0 0;
    background-color: rgba(233, 233, 233, 1);
    list-style: none;
    /* padding: min(2rem, 15vh) 2rem; */
    padding: 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateY(100%);
    transition: transform 500ms ease-in-out;
  }

  .responsive-navigation-slider[data-visible="true"] {
    transform: translateX(0);
  }

  .responsive-menu {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1d1d1d;
    border-top-right-radius: 6rem;
    border-top-left-radius: 6rem;
    z-index: 2000;
  }

  .responsive-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
  }

  .mobile-nav-toggle {
    display: block;
    /* z-index: 2000; */
    background: transparent;
    background-image: url(./assets/mobile-menu-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
  }

  /* .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets//icon-close.svg);
  } */

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }

  .responsive-menu-container > i {
    font-size: 2.2rem;
    color: #fff;
  }

  /* RESPONSIVE NAVIGATION SLIDER */
  .responsive-navigation-slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.4fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100vh;
  }

  .login {
    grid-area: 1 / 1 / 1 / 1;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .login i {
    padding-right: 1rem;
  }

  .product-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem 2rem;
    grid-auto-flow: row;
    grid-template-areas:
      "mac iPhone"
      "iPad appleWatch"
      "accessories sale";
    grid-area: 2 / 1 / 3 / 2;
    justify-items: center;
    align-items: center;
    outline: 1px solid red;
  }

  .product-categories li {
    width: 30rem;
    outline: 1px solid green;
    background-color: #fff;
    border-radius: 6rem;
    height: 10rem;
    transition: all 0.2s ease-in-out;
  }

  .product-categories li:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .product-categories li img {
    width: 6rem;
  }

  ul li:not(:last-child) a {
    margin-right: 0;
  }

  .product-categories li a {
    color: #1d1d1d;
  }

  .mac {
    grid-area: mac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .iPhone {
    grid-area: iPhone;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .iPad {
    grid-area: iPad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .appleWatch {
    grid-area: appleWatch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .accessories {
    grid-area: accessories;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sale {
    grid-area: sale;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dropdown-menu {
    grid-area: 3 / 1 / 4 / 2;
  }

  .faq {
    grid-area: 3 / 1 / 4 / 2;
  }

  .faq {
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    cursor: pointer;
    outline: 1px solid purple;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question h3 {
    font-size: 1.8rem;
  }

  .answer {
    max-height: 0;
    overflow: hidden;

    /* Add transition */
    transition: max-height 0.5s ease-in-out;
  }

  .answer ul {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding-top: 1rem;
  }

  /* Target all li elements except for the last one */
  .answer li:not(:last-child) {
    padding-bottom: 1rem;
  }

  .faq.active .answer {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
  }

  .faq i {
    font-size: 2rem;
  }

  .faq.active i {
    transform: rotate(180deg);
  }

  i {
    transition: transform 0.3s ease-in-out;
  }

  .question div {
    display: flex;
  }

  .question img {
    width: 3rem;
    padding-right: 5rem;

    cursor: pointer;
  }

  .question img:not(:first-child) {
    padding-left: 8rem;
  }

  /* Animation fade */

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* ------------------------------- */
/*          MOBILE VIEW            */
/* ------------------------------- */

@media (max-width: 700px) {
  body {
    background-color: lightcoral;
  }
}
